@import "../assets//colors.scss";

.infoBar-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.blur-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../assets//background.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(55px);
  z-index: -1;
}
.infoBar-inner-cont {
  width: 1170px;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
}
.left-side {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.first-wrap {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid #f1e7ee2b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.second-wrap {
  width: 151px;
  height: 151px;
  border-radius: 50%;
  border: 5px solid $text;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.social-icons-wrap {
  width: 55%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-link {
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.social-icon {
  width: 63%;
  height: 63%;
}
.right-side {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.right-top {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.user-name-wrap {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}
.user-name {
  color: $text;
  font-size: 32px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.status-cont {
  width: 45px;
  height: 18px;
  background-color: forestgreen;
  margin-left: 20px;
  border-radius: 3px;
  background: rgba(92, 184, 85, 0.85);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.status {
  color: $text;
  font-size: 11px;
}
.rewiev-wrap {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}
.rewiev {
  color: $text;
  font-size: 13px;
}
.right-bottom {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
